doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
         
    title David Pastor Portfolio
         
    link(rel='stylesheet', href='css/main.css')
    
    body
        
        nav.nav-bar
          ul
              li 
                a(href="#") Home
              li 
                a(href="#") About me
              li 
                a(href="#") Portfolio
              li 
                  a(href="#") Contact me
              li
                  a(href="#") Search
                
        header.header
          .container
              .row
                .column-16
                    h1 Welcome to my Portfolio
                    button Portfolio
                    
        
        .about
          .container
            .row
            
                .column-4
                  .about-card
                  
                    img(src="http://placehold.it/70x70")
                    h3 Coding
                    p jQuery makes it straightforward to set up event-driven responses on page elements. These events are…
                  
                .column-4
                  .about-card
                  
                    img(src="http://placehold.it/70x70")
                    h3 Functions
                    p jQuery makes it straightforward to set up event-driven responses on page elements. These events are…
                  
                .column-4
                  .about-card
                  
                    img(src="http://placehold.it/70x70")
                    h3 Music
                    p jQuery makes it straightforward to set up event-driven responses on page elements. These events are…
                  
                .column-4
                  .about-card
                  
                    img(src="http://placehold.it/70x70")
                    h3 Design
                    p jQuery makes it straightforward to set up event-driven responses on page elements. These events are…
                    
                    
        .portfolio portfolio
        
        .contact
          .container
            .row
              form
                input(type="text", placeholder="your name")
                input(type="text", placeholder="your name")
                input(type="text", placeholder="your name")
                textarea(name='message', cols='40', rows='6')
        
    
    
