doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
         
    title David Pastor Portfolio
         
    link(rel='stylesheet', href='css/main.css')
    
    body
    
        nav
            ul
                li Home
                li About me
                li Portfolio
                li Contact me
                li Search
                
        header
          .container
              .row
                .column-12
                    h1 Welcome to my Portfolio
                    button Portfolio
      
    
    
