doctype html.no-js(lang='en')
head
    meta(charset='utf-8')
         
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
         
    title David Pastor Portfolio
         
    link(rel='stylesheet', href='css/main.css')
    
    body
        
        nav.nav-bar
          ul
              li 
                a(href="#") Home
              li 
                a(href="#") About me
              li 
                a(href="#") Portfolio
              li 
                  a(href="#") Contact me
              li
                  a(href="#") Search
                
        header.header
          .container
              .row
                .column-16
                    h1 Welcome to my Portfolio
                    button Portfolio
      
    
    
